<div class="q" ng-controller="QuestionController">
  <form role="form">
    <div class="form-group">

      <label>
        {{
          question.text || 
          question.name.text || 
          question.name.coding[0].display || 
          question.name.coding[0].code ||
          '(Nameless)'
         }}</label>

      <select multiple class="form-control" 
        ng-model="question.responses.choice"
        ng-if="options.length>0 && multiple">
        <option ng-repeat="o in options" ng-value="o.code">
        {{o.display}}
        </option>
      </select>

      <select class="form-control"
        ng-model="question.responses.choice"
        ng-if="options.length>0 && !multiple" >
        <option ng-repeat="o in options" ng-value="o.code">
        {{o.display}}
        </option>
      </select>

      <input type="{{inputType}}" class="form-control"
      ng-model="question.responses.text[0]"
      ng-if="options.length==0 && !multiline" />
      
      <textarea class="form-control"
      ng-model="question.responses.text[0]"
      ng-if="options.length==0 && multiline" />

    </div>
  </form>
  <group ng-repeat="group in question.group" />
</div>
